body {
  font-family:sans-serif;
  background:black;
  margin:0;
  padding: 2rem;
}

.container {
  max-width: 600px;
  margin: auto;
}

.counter-section{
  background: black;
  border: 1px solid;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 2rem;
}

.counter{
  display:flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.counter-display{
  font-size: 1.5rem;
  margin-bottom: 1 rem;
  
}

.controls button {
  margin: auto;
  padding: 1rem;
  font-size:medium;
  cursor: pointer;
}

.controls button:disabled {
  background-color: black;
  color: white;
  cursor: not-allowed
}

.step-control{
  margin-top: 1rem;
}

.step-control input{
  width: 4rem;
  margin-left: 1ren;
}

